* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: royalblue;
  text-align: center;
}
header {
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: silver;
  border: none;
  color: black;
  padding: 24px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 6px 3px;
  cursor: pointer;
}
